fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
pydantic==2.8.2
python-dotenv==1.0.1
alembic==1.13.2
email-validator==2.2.0
PyJWT==2.8.0
pytest==8.3.2
pytest-asyncio==0.23.3
httpx==0.27.2
python-multipart==0.0.6
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2
